<login-form>
    <!-- Modal -->
    <div if={ loginFormIsOpen }>
        <div class="modal-backdrop" style="opacity: 0.5"></div>
        <div class="modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             style="display:block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                onclick={ closeLoginForm }
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Cuidando</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form">

                            <div class="form-group">
                                <label class="sr-only"
                                       for="login-form-username">
                                    Username
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="login-form-username"
                                       placeholder="Username">
                            </div>

                            <div class="form-group"
                                 if={ isRegisterForm }>
                                <label class="sr-only"
                                       for="login-form-email">
                                    E-mail
                                </label>
                                <input type="text"
                                       class="form-control"
                                       id="login-form-email"
                                       placeholder="E-mail">
                            </div>

                            <div class="form-group">
                                <label class="sr-only"
                                       for="login-form-password">
                                    Password
                                </label>
                                <input type="password"
                                       class="form-control"
                                       id="login-form-password"
                                       placeholder="Password">
                            </div>

                            <div class="form-group"
                                 if={ isRegisterForm }>
                                <label class="sr-only"
                                       for="login-form-confirm-password">
                                    { t("Confirm Password") }
                                </label>
                                <input type="password"
                                       class="form-control"
                                       id="login-form-confirm-password"
                                       placeholder="{ t('Confirm Password') }">
                            </div>

                            <button type="submit"
                                    class="btn btn-default"
                                    onclick={ sendLogin }
                                    if={ !isRegisterForm }>
                                { t("Login") }
                            </button>

                            <button type="submit"
                                    class="btn btn-default"
                                    onclick={ sendRegister }
                                    if={ isRegisterForm }>
                                { t("Register") }
                            </button>
                        </form>

                        <button class="btn btn-default"
                                onclick={ prepareRegister }
                                if={ !isRegisterForm }>
                            { t("Register") }
                        </button>
                        <span>ou</span>
                        <button id="login-facebook"
                                onclick={ startFacebookLogin }
                                class="btn btn-default">
                            Login Facebook
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .mymodal {
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: 1050;
            display: none;
            overflow: hidden;
            outline: 0px none;
            opacity: 0.5;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #000;
            /*             transition: opacity 1s linear 0s; */
        }
        .login-modal {
            z-index: 1000;
            position: fixed;
            top: 60px;
            left: 60px;
            width: 500px;
            height: 500px;
        }
        .mhide {
            opacity: 0;
            pointer-events: none;
        }
        .mshow {
            opacity: 1;
            pointer-events: auto;
        }

    </style>


    <script type="es6">
    this.mixin('base')

    isRegisterForm = false
    this.prepareRegister = () => {isRegisterForm = true}

     /*     loginFormIsOpen = true */
    this.openLoginForm = () => {loginFormIsOpen = true}
    this.closeLoginForm = () => {
        loginFormIsOpen = false
        isRegisterForm = false
    }

    sendLogin = () => {
        this.triggerChange('login', {
            username: this['login-form-username'].value,
            password: this['login-form-password'].value,
        })
    }

    sendRegister = () => {
        if(this['login-form-password'].value !=
            this['login-form-confirm-password'].value) {
            alert("Senhas não batem!")
        } else {
            this.triggerChange('register', {
                username: this['login-form-username'].value,
                password: this['login-form-password'].value,
                email: this['login-form-email'].value,
            })
        }
    }

    startFacebookLogin = () => this.triggerChange('loginFacebook')

    riot.control.on(riot.SEC('username'), data => {
        this.closeLoginForm()
        this.update()
    })
    </script>
</login-form>
