<map>
    <div id="map-container"></div>


    <script type="es6">
    import map from '../map/map'
    this.mixin('base')
    this.watch('year')
    this.year = this.router.getParam('year')
    console.log('NNNNNNNNNNOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO')

    this.one('mount', () => {
        map.initMap('map-container')
        console.log('tag-map-VEL-points-year:', this.year)
        riot.control.trigger(riot.VEL('points'), this.year)
    })

    riot.control.on(riot.SEC('points'), (points) => {
        map.updateMap(points)
    })

    </script>
</map>
