<map>
    <div id="map-container"></div>


    <script type="es6">
    import map from '../map/map'
    this.mixin('base')

    this.one('mount', () => {
        this.year = this.router.getParam('year')
        map.initMap('map-container')

        this.watchDepends('points', 'year', () => map.updateMap(this.points))

            /*         riot.control.on(riot.SEC('points'), data => {
               if (data.key == this.year) {
               map.updateMap(data.value)
               }
               })

               riot.control.on(riot.SEC('year'), (year) => {
               if (this.year != year) {
               this.year = year
               riot.control.trigger(riot.VEL('points'), this.year, 'MAP:year-change!')
               }
               })

               riot.control.trigger(riot.VEL('points'), this.year, 'MAP:mount!') */
    })


    </script>
</map>
