<menubar>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="home-button"
                   class="navbar-brand"
                   onclick="{ fRoute('home') }"
                   href="#">
                    Cuidando
                </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <!--                 <ul class="nav navbar-nav"> -->
                    <!-- <li class="active"><a href="/">Home</a></li> -->
                <!--                 </ul> -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" onclick={ fRoute('texto sobre') }>{ t("About") }</a></li>
                    <li><a href="#" onclick={ fRoute('texto outra') }>{ t("Another") }</a></li>
                    <li><a href="#" onclick={ share }>{ t("Share") }</a></li>
                    <li if={ username }><a href="#">{ username }</a></li>
                    <li if={ !username }><a href="#"
                                            onclick={ tags['login-form'].openLoginForm }>
                        { t("Login") }
                    </a></li>
                    <li if={ username }><a href="#"
                                           onclick={ sendLogout }>
                        { t("Logout") }
                    </a></li>
                    <li>
                        <select class="navbar-btn" onchange={ selectedLang }>
                            <option each={ _lang in langs }
                                    value="{ _lang.code }"
                                    selected={ _lang.code == lang } >
                                { _lang.name }
                            </option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <login-form/>


    <script type="es6">
    import translator from '../utils/translator'
    import router from '../store/router'
    this.mixin('base')
    this.watch('username')
    this.langs = translator.getLangs()

    riot.control.on(riot.SEC('lang'), (lang) => {
        if (this.lang != lang) {
            this.lang = lang
            // Update not needed here, because translator will do it.
        }
    })
    this.lang = router.getParam('lang')

    this.selectedLang = (event) => {
        this.triggerChange('lang', event.target.value)
        // Prevent update, translator will do it
        event.preventUpdate = true
    }

    this.sendLogout = () => this.triggerChange('logout')

    this.share = () => {
        let page = encodeURIComponent(location.href),
            title = "Cuidando 2"
        location.href = `http://www.facebook.com/sharer.php?u=${page}&t=${title}`
    }
    </script>
</menubar>
