<perg-com-tabs>
    <ul class="list--bare">
        <li each={ tab, i in tabs }
            class="tab { is-active: parent.isActiveTab(tab.ref) }"
            onclick={ parent.toggleTab }>
            {tab.title}
        </li>
    </ul>

    <div class="tabContent">
        <div class="tabContent__item" if={ is-active: isActiveTab('c') }>
            <comments/>
        </div>
        <div class="tabContent__item" if={ is-active: isActiveTab('p') }>
            <perguntas/>
        </div>
    </div>

    <style>
        .list--bare {
            list-style: outside none none;
            margin: 0px;
            padding: 0px;
        }
        .tab {
            display: inline-block;
            vertical-align: middle;
            width: 200px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            cursor: pointer;
            border: 1px solid;
            margin-bottom: -1px;
            margin-right: 5px;
        }
        .tab.is-active {
            border-bottom: medium none;
        }
    </style>

    <script type="es6">
    this.tabs = [
        { title: 'perguntas', ref: 'p' },
        { title: 'comentários', ref: 'c' },
    ]

    this.activeTab = 'c'

    this.isActiveTab = (tab) => {
        return this.activeTab === tab
    }

    this.toggleTab = (e) => {
        this.activeTab = e.item.tab.ref
    }
    </script>
</perg-com-tabs>
