<year-selector>
    <select id="yearselector" onchange={ selectedYear }>
        <option each={ _year, i in s.years }
                value="{ _year }"
                selected={ _year == s.year } >
            { _year }
        </option>
    </select>


    <script type="es6">
    this.mixin('base')
    this.watch('years')

    this.on('mount', () => {
        riot.control.trigger(riot.VE.LOAD_YEARS)
    })

    this.selectedYear = (event) => {
        riot.control.trigger(riot.VE.CHANGE_YEAR, event.target.value)
    }

    riot.control.on(riot.SE.YEAR_CHANGED, year => {
        yearselector.value = year
    })
    </script>
</year-selector>
