<new-pergunta-form>
    <div class="modal-body">
        <h2>O que deseja perguntar?</h2>

        <p>Lembre-se que...
            <a>veja as dicas para elaborar uma pergunta.</a>
        </p>

        <!--
        <styled-select class="separated-caret text-left"
                       options="{ mainDests }"
                       current="{ mainDest }"
                       onchange={ mainDestSelected }
                       outclicklimit="{ parent.root }"/>
        -->

        <styled-select class="separated-caret text-left"
                       options="{ orgaos.value }"
                       current="{ orgao }"
                       onchange={ secondDestSelected }
                       outclicklimit="{ parent.root }"/>

        <p>Pergunta referente à despesa ...</p>

        <form class="form">
            <div class="form-group">
                <label class="sr-only" for="new-pergunta-textarea">
                    { t('Question') }
                </label>
                <textarea id="new-pergunta-textarea"
                    class="form-control"
                    onkeyup="{ update }"
                    maxlength="{ maxPedidoLength }"
                    rows="5"/>
                    <p>{ t('Remaining characters') }: { remainingChars() }</p>
            </div>
            <button type="submit"
                    onclick="{ sendPedido }"
                    class="btn btn-color-sec float-right">
                { t("Send") }
                <span if="{ sendPedidoWaiting }" class="loading"/>
            </button>
        </form>

        <p>Li e concordo com os <a href="#">termos de uso</a>.</p>

    </div>

    <script type="es6">
    this.mixin('base')
    this.maxPedidoLength = 5000

    this.watch('orgaos', () => {
        if(this.orgaos) this.orgao = this.orgaos.value[0].key
    })

    // this.mainDests = [
    //     {key: 'camara', value: 'camara'},
    //     {key: 'prefeitura', value: 'prefeitura'}
    // ]
    // this.mainDest = 'prefeitura'
    // this.mainDestSelected = (option) => {
    //     this.mainDest = option
    //     this.update()
    // }

    //this.secondDests = [
    //    {key: 'camara', value: 'camara'},
    //    {key: 'prefeitura', value: 'prefeitura'}
    //]
    //this.secondDest = 'prefeitura'
    this.secondDestSelected = (option) => {
        console.log(option)
        this.orgao = option
        this.update()
    }

    this.sendPedido = () => {
        if (this['new-pergunta-textarea'].value) {
            this.safeTriggerChange('sendPedido', {
                text: this['new-pergunta-textarea'].value,
                orgao: this.tags['styled-select'].getCurrent(),
                keywords: [this.parent.parent.code]
            })
        }
    }

    this.onControl(riot.SEC('sendPedidoWaiting'), (params, ret) => {
        console.log(params, ret, '<<<<<<<<<<<<>>>>>>>>>>>>')
        if (ret) {
            this.parent.closeModal()
            this.update()
        }
    })

    this.onModalClose = () => {
        this['new-pergunta-textarea'].value = ''
    }

    this.remainingChars = () => {
        return this.maxPedidoLength - this['new-pergunta-textarea'].value.length
    }
    </script>
</new-pergunta-form>
