<perguntas>
    <h2>Acompanhe as perguntas sobre essa despesa</h2>
    <button onclick={ openNewPerguntaForm }
            class="btn btn-color-sec block-right">
        { t('Make a question') }
        <span class="right-arrow"/>
    </button>

    <modal>
        <new-pergunta-form/>
    </modal>

    <ul>
        <li each="{ pedidos }">
            {protocolo} - {author} - {state}
        </li>
    </ul>

    <script type="es6">
    this.mixin('base')
    this.openNewPerguntaForm = (event) => {
       this.tags.modal.openModal(event)
    }

    this.watchDepends('pedidos', 'code', () => {
        console.log(this.pedidos)
        /*         if (this.sendingComment) {
           this.sendingComment = false
           this['comment-textarea'].value = ""
           } */
        this.update()
    })
    </script>
</perguntas>
