<div class="col-md-6">
    <div id="chart-rows-container"></div>
    <table id="rows-table" class="interface-component table">
        <thead>
            <tr>
                <th></th>
                <th>mapeado</th>
                <th>regionalizado</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>linhas</th>
                <td>{{rows.mapped}}</td>
                <td>{{rows.region}}</td>
                <td>{{rows.total}}</td>
            </tr>
            <tr>
                <th>porcentagem</th>
                <td>{{rows.mapped-per}}</td>
                <td>{{rows.mapped-per}}</td>
                <td>100</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <div id="chart-values-container"></div>
    <table id="values-table" class="interface-component table">
        <thead>
            <tr>
                <th></th>
                <th>mapeado</th>
                <th>não mapeado</th>
                <!-- <th>regionalizado</th> -->
                <th>total</th>
                <th>mapped %</th>
            </tr>
        </thead>
        <tbody>
        {{#each values}}
            <tr>
                <th>{{name}}</th>
                <td>{{mapped}}</td>
                <td>{{unmapped}}</td>
                <td>{{total}}</td>
                <td>{{percentage}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
