<ano-view class="container">
    <year-selector year={year}/>

    <div class="text-center">
        <h2>Blah blah balh</h2>
        <p>bwhcowhjc hcjobhcjt wochjw octwhjco wchjwoc hwjoc tw</p>
    </div>

    <charts year={year}/>
    <dyntable/>

    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-color-sec block-center download-table"
            href="http://site.gastosabertos.org/static-downloads/execucao/"
            target="_blank">
                { t("Download table") }
            </a>
        </div>
    </div>


    <script type="es6">
    this.mixin('base')
     /*     this.year = opts.year */
    this.year = this.router.getParam('year')
    this.watch('year')

    this.openExternal = () =>
        window.open("http://site.gastosabertos.org/static-downloads/execucao/")
    </script>
</ano-view>
