<despesa-view>
    <div class="row relative">
        <a class="back-to-year left-arrow"
        href="#"
        onclick={fRoute('ano')}>
            voltar para o ano
        </a>

        <div class="col-md-offset-5 col-md-7 col-lg-8 col-lg-offset-4 main-data">
            <h2>Despesa: { this.pointinfo.ds_projeto_atividade }</h2>

            <div each="{ cat, i in categories }" class="col-md-4 category">
                <div class="title">{ cat }</div>
                <img src="assets/img/{cat}.png"/>
                <div class="value">R$ { formatCur(this[cat]) }</div>
            </div>
            <!--
            <div class="col-md-4">
                <span class="title">Empenhado</span>
                <span>{this.empenhado}</span>
            </div>
            <div class="col-md-4">
                <span class="title">Liquidado</span>
                <span>{this.liquidado}</span>
            </div>
            -->
        </div>
    </div>

    <p>Orgão: {this.orgao}</p>
    <ul>
        <li each={key, i in keys}>
            {key} : {this.pointinfo[key]}
        </li>
    </ul>

    <perg-com-tabs/>


    <script type="es6">
    import {formatCur} from '../utils/helpers'
    this.formatCur = formatCur
    this.mixin('base')
    // this.code = opts.code
    this.code = this.router.getParam('code')

    this.categories = ['planejado', 'empenhado', 'liquidado']

    this.watchDepends('pointinfo', 'code', () => {
        this.keys = Object.keys(this.pointinfo)
        this.planejado = this.pointinfo.sld_orcado_ano
        if (this.pointinfo.vl_atualizado)
            this.planejado = this.pointinfo.vl_atualizado
        this.empenhado = this.pointinfo.vl_empenhadoliquido
        this.liquidado = this.pointinfo.vl_liquidado
        this.orgao = this.pointinfo.ds_orgao
        this.update()
    })
    </script>
</despesa-view>
