<despesa-view class="">
    <div class="container-fluid light-dark-bg">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 padded-col">
                        <a class="back-to-year"
                        onclick={fRoute('ano')}>
                            <span class="left-arrow"/>
                            voltar para o ano
                        </a>
                    </div>
                </div>
                <div class="row relative">
                    <div id="minimap-container" class="col-md-4">
                    </div>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Despesa: { this.pointinfo.ds_projeto_atividade }</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div each="{ cat, i in categories }" class="col-sm-4 category">
                                <div class="title">{ cat }</div>
                                <img src="assets/img/{cat}.png">
                                <div class="value">R$ { formatCur(this[cat]) }</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-right" if="{ updateTime }">
                    <div class="col-sm-12 padded-col">
                        dados atualizados em: { updateTime }
                    </div>
                </div>

                <div class="top-bar orgao-box">
                    <span class="block-decorator"/>
                    <span class="key">Orgão responsável:</span>
                    <span class="value">{this.orgao}</span>
                </div>

                <ul class="top-bar bottom-bar despesa-details-list">
                    <li each={key, i in keys}>
                        <span class="key">{key}:</span>
                        <span>{this.pointinfo[key]}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <perg-com-tabs/>


    <script type="es6">
    import {formatCur} from '../utils/helpers'
    this.formatCur = formatCur
    this.mixin('base')
    // this.code = opts.code
    this.code = this.router.getParam('code')

    this.categories = ['planejado', 'empenhado', 'liquidado']

    this.getUpdateTime = () => {
        if (this.pointinfo) {
            if (this.pointinfo.datafinal)
                return this.pointinfo.datafinal
            if (this.pointinfo['cd_anoexecucao'])
                return this.pointinfo['cd_anoexecucao']
            if (this.pointinfo['cd_exercicio'])
                return this.pointinfo['cd_exercicio']
        }
        return undefined
    }

    this.watchDepends('pointinfo', 'code', () => {
        this.keys = Object.keys(this.pointinfo)
        this.planejado = this.pointinfo.sld_orcado_ano
        if (this.pointinfo.vl_atualizado)
            this.planejado = this.pointinfo.vl_atualizado
        this.empenhado = this.pointinfo.vl_empenhadoliquido
        this.liquidado = this.pointinfo.vl_liquidado
        this.orgao = this.pointinfo.ds_orgao
        this.updateTime = this.getUpdateTime()
        this.update()
    })

    this.preunmount = () => {
        document.getElementById('bigmap-container')
            .appendChild(document.getElementById('map-parent-container'))
    }

    this.one('mount', () => {
        document.getElementById('minimap-container')
            .appendChild(document.getElementById('map-parent-container'))
    })
    </script>
</despesa-view>
