<home-view class="container">
    <h1>Home!</h1>
    <button onclick={ fRoute('ano') }
            class="btn btn-default">
        { t('Explore the data') }
    </button>

    <ul>
        <li each="{ commentsUpdates.value }"
            class="clickable"
            onclick="{ fRoute('despesa', {code:thread_name}) }">
            ({created}) <b>{author}:</b> {text}
        </li>
    </ul>

    <ul>
        <li each="{ moneyUpdates.value }"
            class="clickable"
            onclick="{ fRoute('despesa', {code:code}) }">
            <div if="{ event == 'modified' }">
                <b>{description}</b>
                mudou de
                {data.state[0]}
                para
                <b>{data.state[1]}</b>
                em
                {date}
            </div>
            <div if="{ event == 'created' }">
                Novo: <b>{description}</b>
            </div>
        </li>
    </ul>

    <script type="es6">
    this.mixin('base')
    this.watch('moneyUpdates')
    this.watch('commentsUpdates')
    // this.on('mount', () => {
    //     console.log('MOOOOOOOOOO')
    //     this.interval = setInterval(() => {
    //         console.log('Oi!')
    //     }, 1000)
    // })
    // this.on('unmount', () => window.clearInterval(this.interval))
    </script>
</home-view>
