<pessoa-view class="container">

    <!-- Error messages -->
    <p class="text-center error-msg">
        { t(userError.message) }
    </p>

    <div class="top-bar relative margin-top">
        <span class="block-decorator"/>
        <h1>{userinfo.username}</h1>

        <!-- Description -->
        <div if="{ !isEditting.descr }">
            <p>
                {description}
                <a if="{ checkIsUser() }"
                   onclick="{ openEdit.bind(this, 'descr') }">editar</a>
            </p>
        </div>

        <!-- Edit Description -->
        <div if="{ isEditting.descr }">
            <div class="form-group form-inline"
                <label class="sr-only"
                        for="user-edit-description">
                    { t('Description') }
                </label>
                <textarea class="form-control"
                          rows="3"
                          id="user-edit-description"
                          value="{ userinfo.description }"
                          placeholder="{ t('Description') }"/>
                <button type="submit"
                        onclick="{ sendEdit }"
                        class="btn btn-color-sec">
                    { t('Update') }
                </button>
                <button class="btn btn-color-sec"
                        onclick="{ closeEdit.bind(this, 'descr') }">
                    { t('Cancel') }
                </button>
            </div>
        </div>
    </div>

    <div class="top-bar bottom-bar"
         if="{ checkIsUser() }">

        <p>Essas são suas informações pessoais, visíveis apenas para você:</p>

        <!-- Email -->
        <div if="{ !isEditting.email }">
            <b>{ t('Email') }:</b> {userinfo.email} -
            <a onclick="{ openEdit.bind(this, 'email') }">{ t('editar') }</a>
        </div>

        <!-- Edit Email -->
        <div if="{ isEditting.email }">
            <div class="form-group form-inline"
                <label class="sr-only"
                        for="user-edit-email">
                    { t('E-mail') }
                </label>
                <input type="text"
                       class="form-control"
                       id="user-edit-email"
                       value="{ userinfo.email }"
                       placeholder="{ t('E-mail') }">
                <button type="submit"
                        onclick="{ sendEdit }"
                        class="btn btn-color-sec">
                    { t('Update') }
                </button>
                <button class="btn btn-color-sec"
                        onclick="{ closeEdit.bind(this, 'email') }">
                    { t('Cancel') }
                </button>
            </div>
        </div>

        <!-- Password -->
        <div if="{ !isEditting.password }">
            <b>{ t('Password') }</b> -
            <a onclick="{ openEdit.bind(this, 'password') }">{ t('editar') }</a>
        </div>

        <!-- Edit Password -->
        <div if="{ isEditting.password }">
            <form class="form">
                <div class="form-group form-inline"
                    <label class="sr-only"
                            for="user-edit-curr-password">
                        { t('Current password') }
                    </label>
                    <input type="password"
                        class="form-control { checkFieldError('password') }"
                        id="user-edit-curr-password"
                        placeholder="{ t('Current password') }">
                </div>

                <div class="form-group form-inline"
                    <label class="sr-only"
                            for="user-edit-new-password">
                        { t('New Password') }
                    </label>
                    <input type="password"
                            class="form-control { checkFieldError('new_password') }"
                            id="user-edit-new-password"
                            placeholder="{ t('New Password') }">
                </div>

                <div class="form-group form-inline"
                    <label class="sr-only"
                            for="user-edit-confirm-password">
                        { t("Confirm new password") }
                    </label>
                    <input type="password"
                            class="form-control { checkFieldError('confirm-password') }"
                            id="user-edit-confirm-password"
                            placeholder="{ t('Confirm New Password') }">
                </div>

                <button type="submit"
                        onclick="{ sendEdit }"
                        class="btn btn-color-sec">
                    { t('Update') }
                </button>
                <button class="btn btn-color-sec"
                        onclick="{ closeEdit.bind(this, 'password') }">
                    { t('Cancel') }
                </button>
            </form>
        </div>
    </div>


    <script type="es6">
    this.mixin('base')
    this.watch('userError')
    // Set an error message and the incorrect fields
    this.setError = (msg, fields) => {
        this.userError = {
            message: msg,
            fields: fields
        }
    }
    this.clearError = () => {this.userError = undefined}
    // Returns the class to mark an input field as incorrect,
    // if it is realy incorrect
    this.checkFieldError = (field) => {
        if (this.userError && this.userError.fields.indexOf(field) != -1)
            return 'incorrect-field'
        else return ''
    }

    // Clear the content of all fields
    this.clearFields = () => {
        this['user-edit-description'].value = ''
        this['user-edit-email'].value = ''
        this['user-edit-curr-password'].value = ''
        this['user-edit-confirm-password'].value = ''
        this['user-edit-new-password'].value = ''
    }

    this.watch('username', () => {
        this.clearError()
        this.clearFields()
        if (this.username == this.user) {
            // Force update of data, so can get personal data.
            riot.control.trigger(riot.VEL('userinfo'), this.user, true)
        }
    })

    this.isEditting = {}

    this.watchDepends('userinfo', 'user', () => {
        this.description = this.userinfo.description
        if (!this.description)
            this.description = this.t('No user description...')
        this.isEditting = {}
        this.clearFields()
        this.clearError()
        this.update()
    })

    this.openEdit = (field) => {this.isEditting[field] = true}
    this.closeEdit = (field) => {this.isEditting[field] = false}
    this.checkIsUser = () => this.user == this.username
    this.sendEdit = () => {
        let data = {username: this.userinfo.username}
        if (this.isEditting.email)
            data.email = this['user-edit-email'].value
        if (this.isEditting.descr)
            data.description = this['user-edit-description'].value

        // Trying to change password
        if (this.isEditting.password) {
            if(this['user-edit-new-password'].value
               != this['user-edit-confirm-password'].value) {
                this.setError('Different passwords',
                              ['new_password', 'confirm-password'])
                return false
            } else {
                data.password = this['user-edit-curr-password'].value
                data['new_password'] = this['user-edit-new-password'].value
            }
        }

        this.triggerChange('sendEditUserinfo', data)
            /*         this.closeEditArea() */
    }
    </script>
</pessoa-view>
