<texto-view class="container">
    <h1>Cuidando do Meu Bairro</h1>

    <p>Projeto em desenvolvimento...</p>

    <h2>Parceiros</h2>

    <ul class="list-bare logos-list">
        <li>
            <a href="http://avinaamericas.org" target="_blank">
                <img style="height:80px" src="assets/logos/avina.png">
            </a>
        </li>
        <li>
            <a href="http://idatosabiertos.org" target="_blank">
                <img style="height:60px" src="assets/logos/ilda.png">
            </a>
        </li>
        <li>
            <a href="http://br.okfn.org" target="_blank">
                <img style="height:80px" src="assets/logos/ok.png">
            </a>
        </li>
        <li>
            <a href="http://colab.each.usp.br" target="_blank">
                <img style="height:80px" src="assets/logos/colab.png">
            </a>
        </li>
    </ul>

    <h2>Apoio</h2>

    <ul class="list-bare logos-list">
        <li>
            <a href="//gandi.net" target="_blank">
                <img style="height:80px" src="assets/logos/gandi.png">
            </a>
        </li>
        <li>
            <a href="//browserstack.com" target="_blank">
            <img src="assets/logos/bs.png">
        </li>
    </div>


    <script type="es6">
    </script>
</texto-view>
