<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="ferramenta de visualização geolocalizado do orçamento público.">
        <meta name="author" content="Open Knowledge Brasil">
        <link rel="icon" href="img/favicon.ico">

        <title>Cuidando 2</title>

        <!--Jquery-->
        <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
        <!--Bootstrap-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!--Leaflet APIs-->
        <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/> -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        <!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script> -->
        <!-- <script src="http://jawj.github.io/OverlappingMarkerSpiderfier-Leaflet/bin/oms.min.js"></script> -->
        <!--Mapquest APIs-->
        <!-- <script src="http://open.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluur25ub25%2C8s%3Do5-9w7x50"></script> -->
        <!-- <script src="static/leaflet.markercluster.js"></script> -->
        <link rel="stylesheet" href="static/css/MarkerCluster.css" />
        <link rel="stylesheet" href="static/css/MarkerCluster.Default.css" />
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/datatables/css/jquery.dataTables.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="static/vendor/datatables/css/jquery.dataTables.css">
        <link rel="stylesheet" href="static/css/app.css" />
        <!-- <script src="js/main.js"></script> -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div id="menu-container" class="container"></div>
        </nav>

        <div id="main-container" class="container">

            <div id="auth-container" ></div>

            <div id="pedidos-container" data-view="pedido" class="interface-component"></div>

            <div id="textpage-container" data-view="texto" class="interface-component"></div>

            <div id="user-container" data-view="pessoa" class="interface-component"></div>

            <select id="year-selector" data-view="ano" class="center-block text-center interface-component"></select>

            <button id="to-general" data-view="despesa" class="btn btn-default center-block interface-component">Voltar</button>

            <a id="download-data" data-view="ano" class="interface-component" href="http://site.gastosabertos.org/static-downloads/execucao/" target="_blank">Baixar Dados</a>

            <div id="map-container" data-view="ano despesa" class="interface-component"></div>

            <div id="charts-container" data-view="ano" class="row interface-component"></div>
            <div id="datatable-container" data-view="ano" class="interface-component">
                <table id="data-table" class="display" cellspacing="0" width="100%"></table>
            </div>

            <dl id="point-info" data-view="despesa" class="interface-component"></dl>
            <div id="comments-container" data-view="despesa" class="interface-component"></div>
        </div>

        <script type="text/javascript">
            window.AUTH_API_URL = '{{ config['AUTH_API_URL'] }}';
            window.ESIC_API_URL = '{{ config['ESIC_API_URL'] }}';
            window.API_URL = '{{ config['API_URL'] }}';
            window.COMMENTS_API_URL = '{{ config['COMMENTS_API_URL'] }}';
        </script>
        {% assets "requirejs" %}
        <script type="text/javascript" data-main="static/js/config" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <!-- <script data-main="static/js/config" src="static/vendor/requirejs/js/require.js"></script> -->
    </body>
</html>
