.padded-col
  padding: 20px

.category
  border-width: 1px
  border-style: solid none
  border-color: gray
  /* height: 240px
  padding: 25px
  text-align: center
  @media (max-width: $screen-xs-max)
    border-bottom-style: none
    &:last-child
      border-bottom-style: solid
  .title
    color: $main-color
    font-weight: bold
    text-transform: uppercase
    padding-bottom: 30px
  .value
    white-space: nowrap
    padding-top: 35px


@media (min-width: $screen-sm-min)
  .category + .category
    border-left-style: solid
    &::before
      content: "➜"
      left: -0.5em
      position: absolute
      font-size: 3em
      background-color: white
      top: 35%


.orgao-box
  padding: 15px 0px
  position: relative
  .key
    font-weight: bold
    text-transform: uppercase
  .value
    color: $secondary-color

.despesa-details-list
  padding: 15px 0px
  list-style-type: none
  margin-top: 0px
  .key
    font-weight: bold


