.search-address
  width: 328px
  top: 90px
  right: 130px
  position: absolute
  border-radius: 4px
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5)
  input
    width: 400px
    border: 0px none
    height: 40px
    padding-left: 10px
  .btn
    height: 40px
