<comment>
    <div class="top-bar">
        <div if="{ !hidden }">
            <!-- Comment content -->
            <p if="{ !opts.isEditting }">
                {text}
            </p>

            <!-- Edit form -->
            <form class="form" if="{ opts.isEditting }">
                <div class="form-group">
                    <label class="sr-only" for="comment-edit-textarea-{this.id}">
                        { t('Edit comment') }
                    </label>
                    <textarea id="comment-edit-textarea-{this.id}"
                              class="form-control"
                              maxlength="500"
                              rows="3">{text}</textarea>
                </div>
                <button type="submit"
                        onclick="{ sendEdit }"
                        class="btn btn-default">
                    { t("Send") }
                    <span if="{ opts.sendEditWaiting }" class="loading"/>
                </button>
            </form>

        </div>
        <div if="{ hidden }">
            <p>{ t('Comment removed.') }</p>
        </div>
        <div>
            <a onclick={ fRoute('pessoa ' + author) }>
                {author}
            </a>
            <button class="btn btn-default comment-reply-button"
                    onclick="{ openReplyArea }">
                { t("reply") }
            </button>

            <!-- Author buttons -->
            <div if="{ checkIsAuthor() }">
                <button class="btn btn-danger comment-delete-button"
                        onclick="{ sendDelete }">
                    { t("Delete") }
                    <span if="{ opts.sendDeleteWaiting }" class="loading"/>
                </button>
                <button class="btn btn-default comment-edit-button"
                        if="{ !opts.isEditting && !hidden }"
                        onclick="{ openEditArea }">
                    { t("Edit") }
                </button>
                <button class="btn btn-warning probably-hidden"
                        if="{ opts.isEditting && !hidden }"
                        onclick="{ closeEditArea }">
                    { t("Cancel") }
                </button>
            </div>

            <!-- Not Author buttons -->
            <div if="{ !checkIsAuthor() }">
                <button class="btn btn-default comment-upvote-button"
                        data-vote="up"
                        onclick="{ sendVote }">
                    +1
                    <span if="{ opts.sendVoteWaiting && upvotting }"
                          class="loading"/>
                </button>
                <button class="btn btn-default comment-downvote-button"
                        data-vote="down"
                        onclick="{ sendVote }">
                    -1
                    <span if="{ opts.sendVoteWaiting && !upvotting }"
                          class="loading"/>
                </button>
                <button class="btn btn-danger comment-report-button"
                        if ="{ !hidden }"
                        title="{ t('Report comment as inappropriate') }"
                        onclick="{ sendReport }">
                    { t('Report') }
                    <span if="{ opts.sendReportWaiting }" class="loading"/>
                </button>
            </div>

            <span>Gostaram: {upvotes}</span>
            <span>Não gostaram: {downvotes}</span>
            <span>Criado: {created}</span>
            <span>Modificado: {modified}</span>

            <!-- Reply form -->
            <form class="form"
                  if="{ opts.isReplying }">
                <div class="form-group">
                    <label class="sr-only"
                           for="comment-reply-textarea-{this.id}">
                        { t('Reply Comment') }
                    </label>
                    <textarea id="comment-reply-textarea-{this.id}"
                              class="form-control"
                              maxlength="500"
                              rows="3"/>
                </div>
                <button type="submit"
                        onclick="{ sendReply }"
                        class="btn btn-default">
                    { t("Send") }
                    <span if="{ opts.sendReplyWaiting }" class="loading"/>
                </button>
                <button class="btn btn-warning"
                        onclick="{ closeReplyArea }">
                    { t("Cancel") }
                </button>
            </form>
        </div>

        <!-- Replies list -->
        <comment each="{ replies }"
                 style="margin: 40px;"/>
    </div>


    <script type="es6">
    import {checkIsLogged} from '../../store/auth'
    import auth from '../../store/auth'
    this.mixin('base')
    this.watch('username')

    // RiotJS makes tags inherit parent. This tag uses recursion, so "this"
    // variables were inheriting from parent giving a BIG mess. To avoid this
    // we place local variables at "this.opts"
    this.opts.isReplying = false
    this.opts.isEditting = false

    this.openEditArea = function() {
        this.opts.isEditting = true
    }
    this.openReplyArea = function(event) {
        if (checkIsLogged(event)) this.opts.isReplying = true
    }
    this.closeEditArea = function() {
        this.opts.isEditting = false
        this.update()
    }
    this.closeReplyArea = function() {
        this.opts.isReplying = false
        document.getElementById(`comment-reply-textarea-${this.id}`).value = ''
        this.update()
    }
    // this.checkIsReplying = function() {return this.isReplying}
    // this.checkIsEditting = function() {return this.opts.isEditting}
    this.checkIsAuthor = function() {
        return this.author == auth.getUsername()}

    this.sendReply = function() {
        this.safeTriggerChange('sendReply', {
            text: document.getElementById(
                `comment-reply-textarea-${this.id}`).value,
            url: this.url,
        }, this.opts, false, this.closeReplyArea.bind(this))
    }

    this.sendEdit = function() {
        this.safeTriggerChange('sendEdit', {
            text: document.getElementById(
                `comment-edit-textarea-${this.id}`).value,
            url: this.url,
        }, this.opts, false, this.closeEditArea.bind(this))
    }

    this.sendDelete = function() {
        this.safeTriggerChange('sendDelete', {url: this.url,}, this.opts)
    }

    this.sendReport = function() {
        this.safeTriggerChange('sendReport', {url: this['report_url']}, this.opts)
    }

    this.sendVote = function(event) {
        if (checkIsLogged(event)) {
            let type = event.target.dataset.vote == 'up' ? true : false
            this.upvotting = type
            this.safeTriggerChange('sendVote', {
                url: this['vote_url'],
                vote: type,
            }, this.opts)
        }
    }
    </script>
</comment>
