<comment>
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Comment content -->
            <p if="{ !isEditting }">
                {text}
            </p>

            <!-- Edit form -->
            <form class="form-inline" if="{ isEditting }">
                <div class="form-group">
                    <label class="sr-only" for="comment-edit-textarea-{id}">
                        Edit Comment
                    </label>
                    <textarea id="comment-edit-textarea-{id}"
                              class="form-control"
                              rows="3">
                        {text}
                    </textarea>
                </div>
                <button type="submit"
                        onclick="{ sendEdit }"
                        class="btn btn-default">
                    { t("Send") }
                </button>
            </form>

        </div>
        <div class="panel-footer">
            <a href="#"
               onclick={ fRoute('pessoa ' + author) }>
                {author}
            </a>
            <button class="btn btn-default comment-reply-button"
                    onclick="{ openReplyArea }">
                { t("reply") }
            </button>

            <!-- Author buttons -->
            <div if="{ checkIsAuthor() }">
                <button class="btn btn-danger comment-delete-button"
                        onclick="{ sendDelete }">
                    { t("Delete") }
                </button>
                <button class="btn btn-default comment-edit-button"
                        onclick="{ openEditArea }">
                    { t("Edit") }
                </button>
                <button class="btn btn-warning probably-hidden"
                        if="{ isEditting }"
                        onclick="{ closeEditArea }">
                    { t("Cancel") }
                </button>
            </div>

            <!-- Not Author buttons -->
            <div if="{ !checkIsAuthor() }">
                <button class="btn btn-default comment-upvote-button"
                        data-vote="up"
                        onclick="{ sendVote }">
                    +1
                </button>
                <button class="btn btn-default comment-downvote-button"
                        data-vote="down"
                        onclick="{ sendVote }">
                    -1
                </button>
                <button class="btn btn-danger comment-report-button"
                        onclick="{ sendReport }">
                    Denunciar
                </button>
            </div>

            <span>Gostaram: {upvotes}</span>
            <span>Não gostaram: {downvotes}</span>
            <span>Criado: {created}</span>
            <span>Modificado: {modified}</span>

            <!-- Reply form -->
            <form class="form-inline"
                  if="{ isReplying }">
                <div class="form-group">
                    <label class="sr-only"
                           for="comment-reply-textarea-{id}">
                        Reply Comment
                    </label>
                    <textarea id="comment-reply-textarea-{id}"
                              class="form-control"
                              rows="3"/>
                </div>
                <button type="submit"
                        onclick="{ sendReply }"
                        class="btn btn-default">
                    { t("Send") }
                </button>
                <button class="btn btn-warning"
                        onclick="{ closeReplyArea }">
                    { t("Cancel") }
                </button>
            </form>
        </div>

        <!-- Replies list -->
        <comment each="{replies}"
                 style="margin-left: 20px; margin-top: 20px"/>
    </div>


    <script type="es6">
    this.mixin('base')
    this.watch('username')


    this.isReplying = false
    this.isEditting = false

    this.openReplyArea = () => this.isReplying = true
    this.closeReplyArea = () => this.isReplying = false
    this.openEditArea = () => this.isEditting = true
    this.closeEditArea = () => this.isEditting = false
    this.checkIsAuthor = () => this.author == this.username

    this.sendReply = () => {
        this.triggerChange('sendReply', {
            text: document.getElementById(
                `comment-reply-textarea-${this.id}`).value,
            url: this.url,
        })
        this.closeReplyArea()
    }

    this.sendEdit = () => {
        this.triggerChange('sendEdit', {
            text: document.getElementById(
                `comment-edit-textarea-${this.id}`).value,
            url: this.url,
        })
        this.closeEditArea()
    }

    this.sendDelete = () => {
        this.triggerChange('sendDelete', {url: this.url,})
    }

    this.sendReport = () => {
        this.triggerChange('sendReport', {url: this['report_url']})
    }

    this.sendVote = (event) => {
        this.triggerChange('sendVote', {
            url: this['vote_url'],
            vote: event.target.dataset.vote == 'up' ? true : false,
        })
    }
    </script>
</comment>
