<comments>
    <h2>Acompanhe os comentários sobre essa despesa</h2>

    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="comment-textarea">Comment</label>
            <textarea class="form-control"
                      rows="3"
                      placeholder="Comentario!!!"/>
        </div>
        <button type="submit"
                class="btn btn-default">
            Enviar comentário
        </button>
    </form>

    <div>
        <comment each={comments} data="{this}"/>
    </div>


    <script type="es6">
    this.mixin('base')
    this.watchDepends('comments', 'code', () => {
        // Sort comments by creation time
        this.comments = this.comments.sort(
            (a, b) => a.created > b.created ? 1 : -1)
        this.update()
    })
    </script>
</comments>
