<comments>
    <h2>{ t('See the comments about this expense') }</h2>

    <form class="form">
        <div class="form-group">
            <label class="sr-only" for="comment-textarea">
                { t('Comment') }
            </label>
            <textarea class="form-control"
                    id="comment-textarea"
                    rows="3"
                    placeholder="{ t('Your comment') }"/>
        </div>
        <button type="submit"
                onclick="{ sendComment }"
                class="btn btn-color-sec block-right">
            { t('Send comment') }
        </button>
    </form>

    <div class="comments-block">
        <comment each="{ comments.comments }"
                 data="{ this }"
                 code="{opts.code}"/>
            <!--                  replies="{this.replies}"> -->
            <!--                  data="{comment}"
            code="{code}"/> -->
    </div>


    <script type="es6">
    this.mixin('base')
    this.watch('username')

    this.sendingComment = false

    this.watchDepends('comments', 'code', () => {
        if (this.sendingComment) {
            this.sendingComment = false
            this['comment-textarea'].value = ""
        }
        this.update()
    })

    sendComment = () => {
        if (this['comment-textarea'].value) {
            this.sendingComment = true
            this.triggerChange('sendComment', {
                text: this['comment-textarea'].value,
                code: this.code,
            })
        }
    }

    </script>
</comments>
