{% extends "base.html" %}

{% block maincontainer %}
<select id="year-selector" class="center-block text-center general-view interface-component"></select>
<button id="to-general" class="center-block specific-view interface-component">Voltar</button>
<div id="map-container" class="interface-component"></div>
<div class="row general-view interface-component">
    <div class="col-md-6">
        <div id="chart-container" class="general-view"></div>
        <table id="mapped-table" class="interface-component table">
            <thead>
                <tr>
                    <th></th>
                    <th>mapeado</th>
                    <th>regionalizado</th>
                    <th>total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>linhas</th>
                    <td id="mapped-num"></td>
                    <td id="region-num"></td>
                    <td id="total-num"></td>
                </tr>
                <tr>
                    <th>porcentagem</th>
                    <td id="mapped-per"></td>
                    <td id="region-per"></td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <p>Aqui vai o outro gráfico
    </div>
</div>
<div id="datatable-container" class="general-view interface-component">
    <table id="data-table" class="display" cellspacing="0" width="100%"></table>
</div>
<dl id="point-info" class="specific-view interface-component"></dl>
<div id="comments-container" class="specific-view interface-component" style="text-align:center;">
    <div id="wrapper" style="width: 900px; text-align: left; margin-left: auto; margin-right: auto;">
        <!-- <script	data-isso="http://127.0.0.1:8080" src="static/embed.dev.js"></script> -->
        <!-- <script	src="js/isso/embed.dev.js"></script> -->
        <section id="isso-thread" data-title="Isso Test"></section>
    </div>
</div>
{% endblock %}

{% block endjs %}
<script type="text/javascript">
    window.API_URL = '{{ config['API_URL'] }}';
    window.ISSO_URL = '{{ config['ISSO_URL'] }}';
</script>
{% assets "requirejs" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<!-- <script data-main="static/js/config" src="static/vendor/requirejs/js/require.js"></script> -->
{% endblock %}
