{% extends "base.html" %}

{% block maincontainer %}

<div id="user-container" data-view="pessoa" class="interface-component"></div>
<select id="year-selector" data-view="ano" class="center-block text-center interface-component"></select>
<button id="to-general" data-view="despesa" class="center-block interface-component">Voltar</button>
<div id="map-container" data-view="ano despesa" class="interface-component"></div>
<div id="charts-container" data-view="ano" class="row interface-component"></div>
<div id="datatable-container" data-view="ano" class="interface-component">
    <table id="data-table" data-view="ano" class="display" cellspacing="0" width="100%"></table>
</div>
<dl id="point-info" data-view="despesa" class="interface-component"></dl>
<div id="comments-container" data-view="despesa" class="interface-component"></div>
{% endblock %}

{% block endjs %}
<script type="text/javascript">
    window.API_URL = '{{ config['API_URL'] }}';
    window.COMMENTS_API_URL = '{{ config['COMMENTS_API_URL'] }}';
    <!-- window.ISSO_URL = '{{ config['ISSO_URL'] }}'; -->
</script>
{% assets "requirejs" %}
<script type="text/javascript" data-main="static/js/config" src="{{ ASSET_URL }}"></script>
{% endassets %}
<!-- <script data-main="static/js/config" src="static/vendor/requirejs/js/require.js"></script> -->
{% endblock %}
