<div class="row year-view interface-component">
    <div class="col-md-6">
        <div id="chart-container" class="year-view"></div>
        <table id="mapped-table" class="interface-component table">
            <thead>
                <tr>
                    <th></th>
                    <th>mapeado</th>
                    <th>regionalizado</th>
                    <th>total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>linhas</th>
                    <td id="mapped-num"></td>
                    <td id="region-num"></td>
                    <td id="total-num"></td>
                </tr>
                <tr>
                    <th>porcentagem</th>
                    <td id="mapped-per"></td>
                    <td id="region-per"></td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div id="chart-values-container" class="year-view"></div>
        <table id="values-table" class="interface-component table">
            <thead>
                <tr>
                    <th></th>
                    <th>mapeado</th>
                    <th>não mapeado</th>
                    <!-- <th>regionalizado</th> -->
                    <th>total</th>
                    <th>mapped %</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
