<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="login-form-username">Username</label>
    <input type="text" class="form-control" id="login-form-username" placeholder="Username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="login-form-password">Password</label>
    <input type="password" class="form-control" id="login-form-password" placeholder="Password">
  </div>
  <button id="login-form-button" type="submit" class="btn btn-default">Sign in</button>
</form>
