<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="register-form-username">Username</label>
    <input type="text" class="form-control" id="register-form-username" placeholder="Username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="register-form-password">Password</label>
    <input type="password" class="form-control" id="register-form-password" placeholder="Password">
  </div>
  <div class="form-group">
    <label class="sr-only" for="register-form-password">Confirm Password</label>
    <input type="password" class="form-control" id="register-form-password2" placeholder="Confirm Password">
  </div>
  <div class="form-group">
    <label class="sr-only" for="register-form-email">Email</label>
    <input type="email" class="form-control" id="register-form-email" placeholder="Email">
  </div>
  <button id="register-form-button" type="submit" class="btn btn-default">Register</button>
</form>
