<activities>
    <h3 class="subtitle">{ t('Recent Activities') }</h3>

    <ul class="top-bar">
        <li each="{ activities }">

            <div class="activity-date">
                { formatDate(date) }
                <img class="icon" src="{ assets.planejado }">
            </div><!--
                avoid space
            --><div class="activity-content">

                <!-- If is a thread update -->
                <div if="{ comments }"
                    class="clickable"
                    onclick="{ fRoute('despesa', {code:thread_name}) }">
                    { comments.length } comentários
                    comentou sobre
                    <span if="{ multiPontinfo }">
                        { multiPontinfo.value[thread_name]['ds_projeto_atividade'] }
                    </span>
                </div>

                <!-- If is a pedido update -->
                <div if="{ pedido }"
                    class="clickable"
                    onclick="{ fRoute('despesa', {code:code}) }">
                    Pergunta: { pedido.text }
                </div>

                <!-- If is a money update -->
                <div if="{ data }"
                    class="clickable"
                    onclick="{ fRoute('despesa', {code:code}) }">
                    <div if="{ event == 'modified' }">
                        <b>{description}</b>
                        mudou de
                        {data.state[0]}
                        para
                        <b>{data.state[1]}</b>
                    </div>
                    <div if="{ event == 'created' }">
                        Novo: <b>{description}</b>
                    </div>
                </div>

            </div>

        </li>
    </ul>


    <script type="es6">
    import {formatDate} from '../utils/helpers'
    this.formatDate = formatDate
    this.mixin('base')

    this.activities = []
    this.threads = []
    this.pedidos = []
    this.moneys = []

    this.dateCompare = (a, b) => a.date < b.date ? 1 : -1

    this.updateActivities = () => {
        this.activities = this.pedidos
                              .concat(this.threads)
                              .concat(this.moneys)
                              .sort(this.dateCompare)
    }

    this.watch('moneyUpdates', () => {
        this.moneys = []
        for (let row of this.moneyUpdates.value) {
            this.moneys.push(row)
        }
        this.updateActivities()
    })

    this.watch('pedidosUpdates', () => {
        this.pedidos = []
        for (let pedido of this.pedidosUpdates.value) {
            this.pedidos.push({
                date: pedido.received,
                code: pedido.keywords[0],
                pedido
            })
        }
        this.updateActivities()
    })

    this.watch('commentsUpdates', () => {
        this.threads = []
        // Group comments by thread
        threadsMap = this.commentsUpdates.value.reduce((threads, curr) => {
            if (threads[curr.thread_name]) {
                threads[curr.thread_name].push(curr)
            } else {
                let comments = [curr]
                threads[curr.thread_name] = comments
                this.threads.push({
                    date: curr.created,
                    thread_name: curr.thread_name,
                    comments
                })
            }
            return threads
        }, {})

        let codes = Object.keys(threadsMap)
        this.updateActivities()
        this.triggerChange('multiPontinfo', {key: 'a', codes})
    })

    this.watch('multiPontinfo', () => {
        console.log(this.multiPontinfo)
        this.update()
    })
    // this.on('mount', () => {
    //     console.log('MOOOOOOOOOO')
    //     this.interval = setInterval(() => {
    //         console.log('Oi!')
    //     }, 1000)
    // })
    // this.on('unmount', () => window.clearInterval(this.interval))
    </script>
</activities>
