<dyntable>
    <h2>Table!!!! { totalRows }, {lastPage}</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <!--             <colgroup>
            <col style="color: #ff0">
            </colgroup> -->
            <tr>
                <th>Descrição</th>
                <th>Planejado</th>
                <th>Empenhado</th>
                <th>Liquidado</th>
                <th>Órgão</th>
            </tr>
            <tr each={ tabledata } onclick="{ fRoute('despesa', {code:code}) }">
                <td>{ ds_projeto_atividade }</td>
                <td>{ calcPlanejado(sld_orcado_ano, vl_atualizado) }</td>
                <td>{ vl_empenhadoliquido }</td>
                <td>{ vl_liquidado }</td>
                <td>{ ds_orgao }</td>
            </tr>
        </table>
    </div>
    <a onclick="{ fRoute({page:0}) }"
        if="{ page != 0 }"
        href="#">
        Primeira
    </a>
    <a each={ num, i in pageIndexes }
        onclick="{ fRoute({page:num}) }"
        class="{disabled: num == page }"
        role="button"
        href="#">
        { num + 1 }
    </a>
    <a onclick="{ fRoute({page:lastPage}) }"
        if="{ page != lastPage }"
        href="#">
        Última
    </a>

    <style>
     a.disabled {
         color: gray;
        pointer-events: none;
     }
    </style>


    <script type="es6">
    import stores from '../stores'
    this.mixin('base')

    this.year = this.router.getParam('year')
    this.page = this.router.getParam('page')
    this.defaultPage = this.router.getDefaultParam('page')
    this.per_page_num = this.router.getParam('per_page_num')
    this.totalRows = 0

    // Variables which this table relies on
    this.dependVars = ['year', 'page']
    this.dependSignal = this.dependVars.map((x) => riot.SEC(x)).join(' ')

    // Key to be used to index tabledatas
    this.currKey = () => {
        return this.dependVars.map((x) => this[x]).join('-')
    }

    this.updateTable = data => {
        if ((data.key == this.currKey()) &&
            (this.tabledata != data.value)) {
            this.tabledata = data.value

            // Calculate last page
            this.totalRows = stores.tabledata.getTotal()
            this.lastPage = Math.floor(this.totalRows / this.per_page_num)

            // Page index numbers
            let numShownPages = 7
            this.pageIndexes = Array(...Array(numShownPages))
                .map((_, i) => i + this.page - Math.floor(numShownPages/2))
                .filter(i => i >= 0 && i <= this.lastPage)

            this.update()
        }
    }

    // Watch table data changes
    this.onControl(riot.SEC('tabledata'), this.updateTable)

    // Watch depends vars
    this.onControl(this.dependSignal, (signal, value) => {
        let varName = riot.SECtoVar(signal)
        if (this[varName] != value) {
            // Resets page when other var changes
            if (varName != 'page' && this.page != this.defaultPage) {
                this.page = this.defaultPage
                this.triggerChange('page', this.defaultPage)
            }
            this[varName] = value
            riot.control.trigger(riot.VEL('tabledata'), this.currKey())
        }
    })

    // Load both vars
    riot.control.trigger(this.dependSignal)
    riot.control.trigger(riot.VEL('tabledata'), this.currKey())

    this.calcPlanejado = (orcado, atualizado) => {
        return atualizado ? atualizado : orcado
    }

    </script>
</dyntable>
