<login-form>
    <!-- Modal -->
    <div class="modal-header">
        <h4 class="modal-title">Cuidando</h4>
    </div>

    <div class="modal-body">

        <!-- Error messages -->
        <p class="text-center error-message">
            { t(authError.message) }
        </p>

        <form class="form">

            <div class="form-group">
                <label class="sr-only"
                        for="login-form-username">
                    Username
                </label>
                <input type="text"
                        class="form-control { checkFieldError('username') }"
                        id="login-form-username"
                        placeholder="Username">
            </div>

            <div class="form-group"
                    if={ isRegisterForm }>
                <label class="sr-only"
                        for="login-form-email">
                    E-mail
                </label>
                <input type="text"
                        class="form-control"
                        id="login-form-email"
                        placeholder="E-mail">
            </div>

            <div class="form-group">
                <label class="sr-only"
                        for="login-form-password">
                    Password
                </label>
                <input type="password"
                        class="form-control { checkFieldError('password') }"
                        id="login-form-password"
                        placeholder="Password">
            </div>

            <div class="form-group"
                    if={ isRegisterForm }>
                <label class="sr-only"
                        for="login-form-confirm-password">
                    { t("Confirm Password") }
                </label>
                <input type="password"
                        class="form-control { checkFieldError('confirm-password') }"
                        id="login-form-confirm-password"
                        placeholder="{ t('Confirm Password') }">
            </div>

            <button type="submit"
                    class="btn btn-color-sec modal-button"
                    onclick={ sendLogin }
                    if={ !isRegisterForm }>
                { t("Login") }
            </button>

            <button type="submit"
                    class="btn btn-color-sec modal-button"
                    onclick={ sendRegister }
                    if={ isRegisterForm }>
                { t("Register") }
            </button>
        </form>

        <a class="text-center center-block modal-anchor"
                onclick={ prepareRegister }
                if={ !isRegisterForm }>
            { t("Register") }
        </a>

        <div class="relative separator-block">
            <span class="bar-decorator"/>
            <div class="center-block separator">
                <span>ou</span>
            </div>
        </div>

        <!-- Facebook Login -->
        <button id="login-facebook"
                onclick={ startFacebookLogin }
                class="btn modal-button login-facebook">
            Login Facebook
        </button>
    </div>


    <script type="es6">
    this.mixin('base')
    this.watch('authError')

    this.isRegisterForm = false

    // Clears error message
    this.clearError = () => this.authError = undefined

    // Open fields needed for register
    this.prepareRegister = () => {
        this.clearError()
        this.isRegisterForm = true
    }

    // Extra function to be run when the modal is closed
    this.onModalClose = () => {
        this.isRegisterForm = false
        this.clearError()
    }

    // Get a field value from the modal
    this.getFieldValue = (name) => this[`login-form-${name}`].value

    // Set an error message and the incorrect fields
    this.setError = (msg, fields) => {
        this.authError = {
            message: msg,
            fields: fields
        }
    }

    // Check if fields are not empty
    this.checkNotEmpty = (names) => {
        names = names.split(' ')
        for (let name of names) {
            if (!this.getFieldValue(name)) {
                this.setError(`${name} cannot be empty...`, [name])
                return false
            }
        }
        return true
    }

    // Tries to login user with current fields data
    sendLogin = () => {
        if(this.checkNotEmpty('username password')) {
            this.triggerChange('login', {
                username: this.getFieldValue('username'),
                password: this.getFieldValue('password')
            })
        }
    }

    // Tries to register user with current fields data
    sendRegister = () => {
        if(this.checkNotEmpty('username password')) {
            if(this.getFieldValue('password') !=
                this.getFieldValue('confirm-password')) {
                this.setError('Different passwords',
                              ['password', 'confirm-password'])
            } else {
                this.triggerChange('register', {
                    username: this.getFieldValue('username'),
                    password: this.getFieldValue('password'),
                    email: this.getFieldValue('email')
                })
            }
        }
    }

    // Facebook login
    startFacebookLogin = () => this.triggerChange('loginFacebook')

    // Closes modal when user changes (should mean a successfully login...)
    this.onControl(riot.SEC('username'), data => {
        this.parent.closeModal()
        this.parent.update()
    })

    // Returns the class to mark an input field as incorrect,
    // if it is realy incorrect
    this.checkFieldError = (field) => {
        if (this.authError) {
            if (this.authError.fields.indexOf(field) != -1)
                return 'incorrect-field'
        }
        return ''
    }
    </script>
</login-form>
