<perg-com-tabs>
    <ul class="list--bare">
        <div class="row">
            <li class="col-sm-6 tab { is-active: parent.isActiveTab(tab.ref) }"
                each={ tab, i in tabs }
                onclick={ parent.toggleTab }>
                <span class="block-decorator"/>
                <div class="number">{tab.count}</div>
                <div>{tab.title}</div>
            </li>
        </div>
    </ul>

    <div class="tabContent">
        <div class="tabContent__item"
             if={ is-active: isActiveTab('c') }>
            <comments/>
        </div>
        <div class="tabContent__item"
             if={ is-active: isActiveTab('p') }>
            <perguntas/>
        </div>
    </div>


    <script type="es6">
    this.mixin('base')

    this.tabs = [
        { title: 'perguntas', ref: 'p', count: 0 },
        { title: 'comentários', ref: 'c', count: 0 },
    ]

    this.activeTab = 'c'

    this.isActiveTab = (tab) => {
        return this.activeTab === tab
    }

    this.toggleTab = (e) => {
        this.activeTab = e.item.tab.ref
    }

    this.watchDepends('comments', 'code', () => {
        this.tabs[1].count = this.comments.count
        this.update()
    })
    </script>
</perg-com-tabs>
