<year-selector>
    <styled-select options="{ prepareYearsList() }"
                   current="{ year }"
                   onchange={ selectedYear }/>


    <script type="es6">
    this.mixin('base')

    this.year = opts.year
    this.watch('years year')

    this.selectedYear = (year) => {
        this.triggerChange('year', year)
    }

    this.prepareYearsList = () => {
        if (this.years) {
            return this.years.value.map((x) => {return {key: x, value: x}})
        } else {
            return []
        }
    }
    </script>
</year-selector>
