<map>
    <div id="map-parent-container" class="{ map-big: opts.big }">
        <div id="map-container"/>
    </div>
    <div class="input-group search-address"
         if="{ opts.big }">
        <input id="search-address-input"
               class="input-medium search-query form-control"
               type="text"
               style="width: 400px;"
               onkeypress="{ ifEnter(locateAddress) }"
               placeholder="Procure pelo bairro ou endereço">
        <span class="input-group-btn">
            <button onclick="{ locateAddress }"
                    class="btn btn-color-sec"
                    type="button">
                { t("Locate") }
            </button>
        </span>
    </div>

    </form>


    <script type="es6">
    import map from './map'
    this.mixin('base')

    this.one('mount', () => {
        this.year = this.router.getParam('year')
        map.initMap('map-container')
            window.m = map
        this.watchDepends('points', 'year', () => map.updateMap(this.points))
    })

    this.on('updated', () => {
        /*         map.setSizeBig(opts.big) */
        map.redraw()
    })

    this.locateAddress = () => {
        map.locateAddress(this['search-address-input'].value)
    }

    console.log('MAP BIG:', opts.big)

    </script>
</map>
