<map>
    <div id="map-container"></div>
    <div class="input-group search-address">
        <input id="search-address-input"
               class="input-medium search-query form-control"
               type="text"
               style="width: 400px;"
               onkeypress="{ ifEnter(locateAddress) }"
               placeholder="Procure pelo bairro ou endereço">
        <span class="input-group-btn">
            <button onclick="{ locateAddress }"
                    class="btn btn-color-sec"
                    type="button">
                { t("Locate") }
            </button>
        </span>
    </div>
</div>

    </form>


    <script type="es6">
    import map from './map'
    this.mixin('base')

    this.one('mount', () => {
        this.year = this.router.getParam('year')
        map.initMap('map-container')

        this.watchDepends('points', 'year', () => map.updateMap(this.points))
    })

    this.locateAddress = () => {
        map.locateAddress(this['search-address-input'].value)
    }
    </script>
</map>
